.intro-cointainer{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 800px;
    background: #F2D60D;
    width: auto;
}

.intro-left{
    width: 55%;
    padding: 20px 60px ;
    color: white;
}
.intro-left h1{
    font-size: 80px;
    font-weight: 700;
    line-height: 70px;
    padding: 20px;
}

.intro-left p {
    font-size: 24px;
    line-height: 30px;
    font-weight: 500;
    padding: 20px;
}
.intro-left p span{
    color: #F0C52D;
}
.intro-right{
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 50px;
}

.boobies-img{
    margin: 5px;
    box-shadow: 10px 10px 0 0 #201D1C;
    transition: transform 0.3s ease-in-out;

}
#img-l-t{
    width:237px;
    height: 237px;
    position: absolute;
    display: flex;
    top: 26%;
    left: 60%;
}
#img-l-b{
    width: 205px;
    height: 205px;
    position: absolute;
    display: flex;
    top: 26%;
    left: 77%;
    margin-right: 0;
  
}
#img-r-t{
    position: absolute;
    display: flex;
    width: 144px;
    top:48%;
    left: 75%;
    height:144px;
}
#img-r-m{
    width: 205px;
    height: 205px;
    position: absolute;
    display: flex;
    top: 64%;
    left:77%;
}
#img-r-b{
    width: 193px ;
    height: 193px;
    position: absolute;
    display: flex;
    top: 54%;
    left: 61%;
}

.boobies-img:hover{
    transform: scale(1.07);
    box-shadow: 6px 6px 0 0 #201d1cc8; ;
}

@media (max-width: 1000px){
    #img-l-t{
        width:237px;
        height: 237px;
        position: absolute;
        display: flex;
        top: 26%;
        left: 45%;
    }
    #img-l-b{
        width: 205px;
        height: 205px;
        position: absolute;
        display: flex;
        top: 26%;
        left: 74%;
        margin-right: 0;
      
    }
    #img-r-t{
        position: absolute;
        display: flex;
        width: 144px;
        top:48%;
        left: 73%;
        height:144px;
    }
    #img-r-m{
        width: 205px;
        height: 205px;
        position: absolute;
        display: flex;
        top: 64%;
        left:74%;
    }
    #img-r-b{
        width: 193px ;
        height: 193px;
        position: absolute;
        display: flex;
        top: 57%;
        left: 49%;
    }
    .intro-left{
        width: 42%;
    }
    .intro-right{
        width: 58%;
    }
}

@media (max-width: 668px){
    .intro-left{
        height: 40%;
        width: 100%;
        margin-top: 380px;
        padding: 20px;
    }
    .intro-right{
        width: 100%;
        margin-top: -90px;
        margin-left: -10px ;
    }

    .intro-cointainer{
        flex-direction: column-reverse;
        font-size:10px ;
        margin: 0;
    }
    .boobies-img{
        padding: 0;
    }
    #img-l-t{
      height: 106px;
      width: 106px;
      position: absolute;
      left:10px;
      top:268px;
    }
    #img-l-b{
        position:absolute;
        width: 150px;
        height: 150px;
        left:10px;
        top: 94px;
    }
    #img-r-t{
        width: 70px;
        position: absolute;
        height: 70px;
        left:60px;
        top:391px;
    }
    #img-r-m{
        width: 108px;
        height: 108px;
        position: absolute;
        top: 124px;
        left:200px;
    }
    #img-r-b{
        width: 193px;
        height: 193px;
        position: absolute;
        top: 268px;
        left: 151px;
    }
    .intro-left{
     
    }
    .intro-left h1{
    font-size: 65px;
    line-height: 80px;
    
    }

    .intro-left p {
        font-size: 15px;
        line-height: 30px;
    }

}