.util-container{
   
    padding: 50px;
    background: #E8C430;
    color: black;
    width: auto;
}

.util-container h2{
    line-height: 60px;
    font-weight: 600;
    font-size: 50px;
    margin-bottom: 10px;
}

.util-container li {
    padding: 5px;
}

.util-container h3 {
    font-weight: 600;
    padding-top: 20px;
    padding-bottom: 20px;
}
.util-container p {
    padding-top: 30px;
    line-height: 28px;
    font-size: 20px;
    font-weight: 400;
}
.para{
    margin-bottom: 30px;
}

@media (max-width: 768px){
    .util-container{
        min-height: 1330px;
        width: auto;
        padding-bottom: 30px;
    }
    .util-container h2{
        line-height: 42.7px;
        font-size: 30px;
        margin-bottom: 5px;
    }

    .util-container p {
        line-height: 28px;
        font-size: 20px;
        font-weight: 400;
    }

    .util-container li{
        font-size: 15px;
    }
    .util-container{
        height: 700px;
        padding: 50px;

    
    }
}